/1_node-basic
/3_fullstack
/my-app

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/nodeapi/node_modules
/react-front/node_modules

# misc
/react-front/.env
/nodeapi/.env
*.pdf
*.log
*.env